{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% for m in messages %}
    {{m}}
    {% endfor %}
    <table>
        <tr>
            <td>
                <a class="login" href="{% url 'app5:login' %}" style="text-align: center;">Login</a><br>
            </td>
          <td>  <a href="{% url 'app5:gallary' %}" style="text-align: center;">Gallery</a>
          </td>
           
        </tr>
    </table>
       
</body>
</html>